---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Border from "../components/Border.astro";
---

<Layout title="Matteo Tagliatti">
  <main>
    <Header />
    <Border />
  </main>
</Layout>
