<header
  class="w-full flex flex-col-reverse gap-5 md:flex-row md:items-center md:justify-between"
>
  <div class="text-lg text-black">
    <h1 class="mb-1 text-2xl">Matteo Tagliatti</h1>
    <p>
      Coding <span class="text-neutral-500">mostly in JavaScript.</span>
    </p>
    <p>
      Designing <span class="text-neutral-500">in Figma.</span>
    </p>
  </div>
  <img
    width="110"
    height="110"
    class="rounded-full"
    src="https://avatars.githubusercontent.com/u/52333519"
    alt="Matteo Tagliatti"
  />
</header>
